<h2><span id="rating" data-stars="<%= @issue.rating %>"></span></h2>

<script>
    $(function () {
        $.ratePicker("#rating", {
            rate : function (stars) {
                $.ajax({
                    type: "GET",
                    url: "<%= set_rating_path(@issue)%>",
                    data: { rating: stars },
                })
            }
        });
    });
</script>
